In [4]:
import pandas as pd
import os

# Merging 12 month of sales into a single file

In [2]:
df = pd.read_csv(')file:///C:/Users/Admin/Downloads/Pandas-Data-Science-Tasks-master%20(1)/Pandas-Data-Science-Tasks-master/SalesAnalysis/Sales_Data/Sales_April_2019.csv'

In [3]:
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

In [24]:
files = [file for file in os.listdir('Users/Admin/Downloads/Pandas-Data-Science-Tasks-master%20(1)/Pandas-Data-Science-Tasks-master/SalesAnalysis/Sales_Data')]

for file in files:
    print(file)

FileNotFoundError: [WinError 3] Системе не удается найти указанный путь: 'Users/Admin/Downloads/Pandas-Data-Science-Tasks-master%20(1)/Pandas-Data-Science-Tasks-master/SalesAnalysis/Sales_Data'

In [ ]:
all_monht_data=pd.DataFrame()